:root{
    --spyre-red: #F12639;
}
.btn:hover {
    background-color: var(--spyre-red);
    color: white;
}
/**/
.bg-spyre{
    background-color: var(--spyre-red);
}
.overline{
    text-decoration: overline;
}
.color-spyre{
    color: var(--spyre-red);
}
li{
    list-style-type: none;
}
section#testata{
    background-image: url('./bg-15.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    /* background-attachment: fixed; */
}
section#testata a{
    color: white;
}
section#buttons a{
    width: 250px;
}

nav#top-menu{
    position: relative;
}
div#brand{
    background-color: var(--spyre-red);
    width: 150px;
    height: 100px;
}
.pellicola{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
section#icone div.cerchi{
    background-color: #F3F8FC;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colonne-2{
    column-count: 2;
    column-rule: 1px solid #000;
    column-gap: 2em;
    /* text-align: justify; */
}
#socket1 a {
    color: black;
}